@font-face {
    font-family: 'FabricMDL2Icons';
    src: url('https://appsforoffice.microsoft.com/fabric/fonts/icons/FabricMDL2Icons.woff') format('woff'), url('https://appsforoffice.microsoft.com/fabric/fonts/icons/FabricMDL2Icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ac-image.ac-selectable {
    cursor: pointer;
}

.ac-container.ac-selectable {
    padding: 5px;
}

.ac-container.ac-selectable:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.ac-container.ac-selectable:active {
    background-color: rgba(0, 0, 0, 0.15);
}

.ac-pushButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 8px 4px 8px;
    min-width: 80px;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    color: #0078D7;
    background-color: white;
    border: 1px solid #C7E0F4;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    border-radius: 5px;
}

/*.ac-pushButton:hover {
    background-color: #005A9E;
    border: 1px solid #005A9E;
}

.ac-pushButton:active {
    background-color: #004D84;
    border: 1px solid #004D84;
}*/

.ac-pushButton.subdued {
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.04);
    color: black;
}

.ac-pushButton.subdued:hover {
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: black;
}

.ac-pushButton.subdued:active {
    background-color: rgba(0, 0, 0, 0.12);
    border: 1px solid rgba(0, 0, 0, 0.12);
    color: black;
}

/*
Other styles that can be specified:
    .ac-pushButton.expanded
    .ac-pushButton.expanded:hover
    .ac-pushButton.expanded:active
*/

.ac-linkButton {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    color: #0078D7;
    background-color: white;
    border: 1px solid #C7E0F4;
    padding: 3px 8px 4px 8px;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    border-radius: 5px;
}

.ac-linkButton:hover {
    color: white;
    background-color: #0078D7;
    border: 1px solid #0078D7;
}

.ac-linkButton:active {
    color: white;
    background-color: #464B93;
    border: 1px solid #464B93;
}

.ac-linkButton.subdued {
    color: #666666;
    border: 1px solid #EEEEEE;
}

.ac-linkButton.subdued:hover {
    color: white;
    background-color: #0078D7;
    border: 1px solid #0078D7;
}

.ac-linkButton.subdued:active {
    color: white;
    background-color: #464B93;
    border: 1px solid #464B93;
}

/*.ac-linkButton.expandable:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-family: 'FabricMDL2Icons';
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    margin: auto 0px auto 6px;
    content: '\E70D';
}

.ac-linkButton.expandable.expanded {
    color: white;
    background-color: #0078D7;
    border: 1px solid #0078D7;
}

.ac-linkButton.expandable.expanded:active {
    color: white;
    background-color: #464B93;
    border: 1px solid #464B93;
}

.ac-linkButton.expandable.expanded:after {
    content: '\E70E';
}*/

/*
Other styles that can be specified:
    .linkButton.expanded
    .linkButton.expanded:hover
    .linkButton.expanded:active
*/

.ac-input {
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    color: black;
}

.ac-input.ac-textInput {
    height: 30px;
    resize: none;
}

.ac-input.ac-textInput.ac-multiline {
    height: 72px;
}

.ac-input.ac-textInput, .ac-input.ac-numberInput, .ac-input.ac-dateInput, .ac-input.ac-timeInput, .ac-input.ac-multichoiceInput {
    border: 1px solid #DDDDDD;
    padding: 4px 8px 4px 8px;
}
